.edit{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap:40px;
    padding: 20px;
    /* padding: 50px 20px; */
    align-items: center;
    justify-content: center;
}

.edit form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    width: 100%;
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
    /* justify-content: center; */
    /* align-items: center; */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.main-edit{
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.edit form h2{
    display: flex;
    justify-content: center;
    width: fit-content;
}

.edit-detail{
    display: flex;
    flex-direction: column;
    gap: 10px;
}